{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-info alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
{% endfor %}

<ul>
        {% if records %}
                {% for record in records %}
                        <li>{{ record.id }}
                        {{ record.text }}
                        {{ record.email }}
                        {{ record.figure.color }}
                        {{ record.figure.shape }}
                        {% for image in record.images %}
                                {{ image.filename }}
                        {% endfor %}
                        </li>
                        <br />
                {% endfor %}
        {% else %}
                There are no records yet.
        {% endif %}
</ul>