{% extends 'base.html.twig' %}

{% block title %}Records - New record{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/jsblank/app.js') }}"></script>
{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}">back to home</a>

    <h1>New record</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
