{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}

    <div>
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}
    </div>

    {% if records %}
    {% for record in records %}
    {{ record.id }}
    {{ record.text }}
    {{ record.email }}
    {{ record.figure.color }}
    {{ record.figure.shape }}
        {% for image in record.images %}
            {{ image.filename }}
        {% endfor %}
    {% endfor %}
    {% else %}
    There are no records yet.
    {% endif %}

{% endblock %}
